.idea
.vscode
.env
.vagrant
/vendor
/node_modules
/public/storage
/public/build
/public/js
/public/mix-manifest.json
/public/hot
/sample_files
/discovery
Homestead.yaml
Homestead.json
composer.lock
launch.json
*.log
*.pid
/packages
/sample_files